<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="drivergetride" routerLinkActive="active">
        <img src="assets/book_ride.jpg" alt="Get A Ride">
        Get A Ride
      </a>
      <a class="nav-item nav-link" routerLink="driverridehistory" routerLinkActive="active">
        <img src="assets/ride_history.jpg" alt="View Ride History">
        View Ride History
      </a>
      <a class="nav-item nav-link" routerLink="drivermanageprofile" routerLinkActive="active">
        <img src="assets/manage_profile.jpeg" alt="Manage Profile">
        Manage Profile
      </a>
      <a class="nav-item nav-link" routerLink="issues" routerLinkActive="active">
        <img src="assets/report_issues.jpeg" alt="Report Issues">
        Report Issues
      </a>
    </div>
  </nav>
<router-outlet></router-outlet>
